
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/Sede.js"></script>


<div class="container">
    <h2>Listado de Fabricantes</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Agregar Sede</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    <center>Nombre Sede</center>
                </th>
                <th>
                    <center>Operación</center>
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Sede</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <input type="text" class="form-control" id="SedeId" placeholder="Id" style="visibility:hidden" />
                    </div>
                    <div class="form-group">
                        <label for="NombreFabricante">Nombre Sede</label>
                        <input type="text" class="form-control" id="NombreSede" placeholder="Name" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Crear</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Modificar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar">Cerrar</button>
            </div>
        </div>
    </div>
</div>

